.controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}

.select {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  border-radius: 50px;
  border: 0px;
  filter: drop-shadow(5px 5px 4px #000000);
  height: 30px;
  border: 0;
}

#type-label,
#order-label {
  color: white;
}
