body {
  background: rgb(18, 18, 18);
  background: linear-gradient(
    177deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(56, 56, 56, 1) 57%,
    rgba(83, 83, 83, 1) 100%
  );
}

h1 {
  color: rgb(255, 243, 243);
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3rem;
  filter: drop-shadow(5px 5px 4px #000000);
}

.App {
  text-align: center;
}
