.container {
  display: flex;
  flex-direction: row;
  margin: auto auto 50px auto;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Inconsolata', sans-serif;
}

.poke-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  border-radius: 20px;
  filter: drop-shadow(5px 5px 4px #000000);
  text-transform: uppercase;
}

.poke-card:hover {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

img.image {
  width: 150px;
}

.poke-card p {
  padding: 0px;
  margin: 5px;
}
.poke-card a {
  color: black;
  margin-bottom: 10px;
}

.poke-card a:hover {
  font-weight: bold;
}
